/* CSS file for the Footer Section, Author: Himanshu, Date: August 7 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ff9933;
}

@font-face {
    font-family: 'Himanshu';
    src: url('../../fonts/Bitter\ Rose\ DEMO.otf');
}

@font-face {
    font-family: 'Nandini';
    src: url(../../fonts/Broisther.otf);
}

.footer {
    background-color: #1d2026;
    padding: 50px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer .heading {
    font-family: 'Nandini', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}
.footer .text {
    font-family: 'Himanshu', sans-serif;
    font-size: 26px;
}
.footer .address .img-with-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.footer .address .img-with-info .address-images {
    width: 25px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(to bottom left, #ffb84d, #ff9933, #ff6600, #ff3300);
}

.footer .links a {
    position: relative;
    background: linear-gradient(to bottom left, #ffb84d, #ff9933, #ff6600, #ff3300);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Himanshu';
    font-size: 36px;
    text-decoration: none;
}
.footer .links a::after {
    content: '';
    position: absolute;
    background-color: #ff6600;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}
.footer .links a:hover::after {
    width: 100%;
}
.footer .links .individual-link {
    margin-bottom: 15px;
}

.footer .social .social-media {
    display: flex;
}
.footer .social .social-media .social-media-img-container {
    margin: 0 20px 40px 0;
}
.footer .social .social-media .social-media-img-container img {
    height: 35px;
}
.footer .social .logo img {
    height: 100px;
}

/* Media Queries */
/* @media screen and (max-width: 700px) {
    .footer {
        grid-template-columns: 1fr;
    }
} */







@media screen and (max-width: 1440px) {
    .footer {
        padding: 30px 100px 30px 165px;
    }
    .footer .heading {
        font-size: 34px;
        margin-bottom: 20px;
    }
    .footer .text {
        font-size: 26px;
    }
    .footer .address .img-with-info {
        margin-bottom: 10px;
    }
    .footer .address .img-with-info .address-images {
        margin-right: 15px;
    }
    .footer .links a {
        font-size: 32px;
    }
    .footer .links a::after {
        height: 2px;
    }
    .footer .links .individual-link {
        margin-bottom: 10px;
    }
    .footer .social .social-media .social-media-img-container {
        margin: 0 20px 20px 0;
    }
    .footer .social .social-media .social-media-img-container img {
        height: 25px;
    }
    .footer .social .logo img {
        height: 60px;
    }
}

@media screen and (max-width: 1275px) {
    .footer {
        padding: 20px 100px 20px 145px;
    }
}

@media screen and (max-width: 1198px) {
    .footer {
        padding: 30px 100px 30px 135px;
    }
    .footer .heading {
        font-size: 28px;
    }
    .footer .text {
        font-size: 20px;
    }
    .footer .address .img-with-info .address-images {
        width: 25px;
    }
    .footer .links a {
        font-size: 28px;
    }
}

@media screen and (max-width: 975px) {
    .footer {
        padding: 30px 110px;
    }
    .footer .heading {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .footer .text {
        font-size: 16px;
    }
    .footer .address .img-with-info {
        margin-bottom: 7px;
    }
    .footer .address .img-with-info .address-images {
        width: 20px;
    }
    .footer .address .img-with-info .address-images {
        margin-right: 10px;
    }
    .footer .links a {
        font-size: 20px;
    }
    .footer .links .individual-link {
        margin-bottom: 5px;
    }
    .footer .social .social-media .social-media-img-container img {
        height: 18px;
    }
    .footer .social .logo img {
        height: 40px;
    }
}

@media screen and (max-width: 835px) {
    .footer {
        grid-template-columns: 1fr 1fr;
        text-align: center;
        row-gap: 20px;
    }
    .footer .address .img-with-info {
        justify-content: center;
    }
    .footer .social .social-media {
        justify-content: center;
    }
}

@media screen and (max-width: 735px) {
    .footer {
        padding: 30px 65px 30px 100px;
    }
    .footer .heading {
        font-size: 18px;
    }
    .footer .text {
        font-size: 12.5px;
    }
    .footer .address .img-with-info .address-images {
        width: 18px;
    }
    .footer .links a {
        font-size: 16px;
    }
    .logo {
        position: relative;
        left: -50px;
    }
}

@media screen and (max-width: 625px) {
    .footer {
        padding: 50px 75px;
        row-gap: 40px;
    }
    .footer .heading {
        font-size: 26px;
    }
    .footer .text {
        font-size: 18px;
    }
    .footer .address .img-with-info .address-images {
        width: 15px;
    }
    .footer .links a {
        font-size: 22px;
    }
    .footer .social .social-media .social-media-img-container img {
        height: 20px;
    }
    .footer .social .logo img {
        height: 45px;
    }
    .logo {
        position: relative;
        left: -50px;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        padding: 50px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        padding: 30px 35px;
    }
    .footer {
        grid-template-columns: 1fr;
    }
}