<!-- HTML file of Enjoyments Page, Author: Himanshu, Date: August 7 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoyments</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-navbar">
            <ul>
                <li><img src="../../images/logo.png" alt="logo"></li>
            </ul>
        </div>
        <div class="right-navbar">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="./enjoyments.html">Enjoyments</a></li>
                <li><a href="./game.html">Play Game</a></li>
                <li><a href="./join-team.html">Join Team</a></li>
                <li><a href="./know-more.html">Know More</a></li>
            </ul>
        </div>
    </nav>

    <section class="card-two technology">
        <div class="card-two-image">
            <img src="../../images/order-taker.jpeg" alt="Technology">
        </div>
        <div class="card-two-content">
            <h1>Technology Advancements</h1>
            <p>The youth at our restaurant work using some of the best technologies to ensure a great experience for our customers. Each employee is equipped with an iPad to take orders, and we also have a robot in the restaurant that cleans the tables and floors.</p>
        </div>
    </section>

    <section class="card-one kids">
        <div class="card-one-content">
            <h1>For Kids / Children</h1>
            <p>At our restaurant, we prioritize physical games over technological ones when catering to small children. This strategy has proven to be successful in generating publicity and attracting more customers. As an incentive for participation, we offer prizes like free ice-cream to the winning children, which further enhances the excitement and enthusiasm among them.</p>
            <p>Some of the games we feature include tic-tac-toe (a tech-based game) and uno (a physical game), both of which contribute to the children's energetic and enthusiastic experience at our establishment.</p>
            <button onclick="window.location.href = './game.html'">Wanna try our Tic-Tac-Toe Game!</button>
        </div>
        <div class="card-one-image">
            <img src="../../images/kids-fun.jpeg" alt="Environment">
        </div>
    </section>

    <section class="card-two environment">
        <div class="card-two-image">
            <img src="../../images/friendly-env.jpeg" alt="Environment">
        </div>
        <div class="card-two-content">
            <h1>Friendly Environment</h1>
            <p>Our restaurant boasts a welcoming and enjoyable environment that attracts customers from all generations. As our brand name suggests, we offer a fusion of dishes that allows people to relax, have fun, and relish our food. This unique blend of flavors keeps our patrons coming back for more, ensuring they have a delightful dining experience every time.</p>
        </div>
    </section>

    <footer class="footer">
        <div class="address">
            <h3 class="heading">Address</h3>
            <div class="img-with-info">
                <img src="../../images/maps.png" alt="Maps" id="location" class="address-images">
                <p class="text">12 W 4th St, LA</p>
            </div>
            <div class="img-with-info">
                <img src="../../images/phone.png" alt="Phone" id="phone" class="address-images">
                <p class="text">+1 (777) 343-1992</p>
            </div>
            <div class="img-with-info">
                <img src="../../images/mail.png" alt="E-mail" id="email" class="address-images">
                <p class="text">food@fusion.com</p>
            </div>
        </div>
        <div class="working-hours">
            <h3 class="heading">Working Hours</h3>
            <p class="text">Open Everyday from</p>
            <p class="text">9:00 A.M TO 11:00 P.M</p>
        </div>
        <div class="links">
            <h3 class="heading">Links</h3>
            <p class="individual-link"><a href="../../../index.html">Home</a></p>
            <p class="individual-link"><a href="./enjoyments.html">Enjoyments</a></p>
            <p class="individual-link"><a href="./game.html">Join Team</a></p>
            <p class="individual-link"><a href="./join-team.html">Join Team</a></p>
            <p class="individual-link"><a href="./know-more.html">Know More</a></p>
        </div>
        <div class="social">
            <h3 class="heading">Social Media</h3>
            <div class="social-media">
                <div class="social-media-img-container">
                    <img src="../../images/facebook.png" alt="Facebook" id="facebook">
                </div>
                <div class="social-media-img-container">
                    <img src="../../images/instagram.png" alt="Instagram" id="instagram">
                </div>
                <div class="social-media-img-container">
                    <img src="../../images/twitter.png" alt="Twitter" id="twitter">
                </div>
            </div>
            <div class="logo">
                <img src="../../images/logo.png" alt="logo">
            </div>
        </div>
    </footer>
</body>
</html>