<!-- HTML file of Know More Page, Author: Himanshu, Date: August 7 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enjoyments</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="stylesheet" href="../css/footer.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-navbar">
            <ul>
                <li><img src="../../images/logo.png" alt="logo"></li>
            </ul>
        </div>
        <div class="right-navbar">
            <ul>
                <li><a href="../../../index.html">Home</a></li>
                <li><a href="./enjoyments.html">Enjoyments</a></li>
                <li><a href="./game.html">Play Game</a></li>
                <li><a href="./join-team.html">Join Team</a></li>
                <li><a href="./know-more.html">Know More</a></li>
            </ul>
        </div>
    </nav>

    <section class="card-one originated">
        <div class="card-one-content">
            <h1>History</h1>
            <p>The restaurant had its humble beginnings in 2012 when it operated as a street vendor selling food from carts. However, after a year or two, the owners decided to expand and purchased a small shop. The restaurant's popularity grew steadily, and by 2016, they began opening franchises in different countries, which resulted in a significant economic and reputational boost.</p>
            <p>Finally, in 2018, the restaurant was recognized as the best in the world, earning an impressive 5 Michelin stars for its outstanding culinary achievements.</p>
        </div>
        <div class="card-one-image">
            <img src="../../images/history.jpeg" alt="History">
        </div>
    </section>
    
    <section class="card-two locations">
        <div class="card-two-image">
            <img src="../../images/plating-perfection.jpeg" alt="Plating">
        </div>
        <div class="card-two-content">
            <h1>Places Where we at</h1>
            <p>We have a global presence, with over 10 restaurants in each country, and all of them uphold the same high standards of quality and culinary expertise. Our reputation extends to being well-known for serving various types of cuisines from around the world.</p>
            <p>We cordially invite you to visit our restaurant, <span id="greeting">'Namaste'</span>. We would love to welcome you and offer you a delightful dining experience.</p>
            <p>Some of the well known places we are at are: - <br> India <br> Canada <br> United States of America</p>
        </div>
    </section>

    <footer class="footer">
        <div class="address">
            <h3 class="heading">Address</h3>
            <div class="img-with-info">
                <img src="../../images/maps.png" alt="Maps" id="location" class="address-images">
                <p class="text">12 W 4th St, LA</p>
            </div>
            <div class="img-with-info">
                <img src="../../images/phone.png" alt="Phone" id="phone" class="address-images">
                <p class="text">+1 (777) 343-1992</p>
            </div>
            <div class="img-with-info">
                <img src="../../images/mail.png" alt="E-mail" id="email" class="address-images">
                <p class="text">food@fusion.com</p>
            </div>
        </div>
        <div class="working-hours">
            <h3 class="heading">Working Hours</h3>
            <p class="text">Open Everyday from</p>
            <p class="text">9:00 A.M TO 11:00 P.M</p>
        </div>
        <div class="links">
            <h3 class="heading">Links</h3>
            <p class="individual-link"><a href="../../../index.html">Home</a></p>
            <p class="individual-link"><a href="./enjoyments.html">Enjoyments</a></p>
            <p class="individual-link"><a href="./game.html">Join Team</a></p>
            <p class="individual-link"><a href="./join-team.html">Join Team</a></p>
            <p class="individual-link"><a href="./know-more.html">Know More</a></p>
        </div>
        <div class="social">
            <h3 class="heading">Social Media</h3>
            <div class="social-media">
                <div class="social-media-img-container">
                    <img src="../../images/facebook.png" alt="Facebook" id="facebook">
                </div>
                <div class="social-media-img-container">
                    <img src="../../images/instagram.png" alt="Instagram" id="instagram">
                </div>
                <div class="social-media-img-container">
                    <img src="../../images/twitter.png" alt="Twitter" id="twitter">
                </div>
            </div>
            <div class="logo">
                <img src="../../images/logo.png" alt="logo">
            </div>
        </div>
    </footer>
</body>
</html>